.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.nav-item > ul {
  display: flex;
  list-style-type: none;
  font-size: 24px;
}

.nav-item > ul > li {
  padding: 10px;
  margin: 10px;
}

.logo {
  width: 150px;
}

.res-logo {
  width: 100%;
}

.search {
  padding: 10px;
}

.nav-item {
  padding: 0px 10px;
}

.res-card {
  width: 200px;
  padding: 5px;
  margin: 5px;
}

.res-card:hover {
  cursor: pointer;
  border: 1px solid black;
}

.res-container {
  flex-wrap: wrap;
  display: flex;
}
